$navbarborder: rgba(0,0,0,.12);
$Whitefont: white;
$Blackfont: black;
$Primarycolor: rgb(0, 86, 210);
$Primaryhoovercolor: rgb(0, 65, 158);
$Font: "Source Sans Pro", Arial,sans-serif;
$OpenSans:'Open Sans', sans-serif;


#Coursera-navbar{
    height: 65px;
    background-color: white;
    padding: 0px 12px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid $navbarborder;
}
#navbarbox1{
    height: 40px;
    align-items: center;
    width: 50%;
    #Courseralogo{
        height: 32px;
        width: 127px;
        margin-right: 25px;
    }
    #Coursera-explore{
        padding: 0;
        height: 36px;
        min-width: 92px;
        background-color: $Primarycolor;
        color: $Whitefont;
        border-radius: 3px;
        cursor: default;
        align-items: center;
        margin-right: 22px;
        border: none;
        font-family: $OpenSans;
        font-size: 14px;
        font-weight: 700;
        font-weight: bold;
        font-stretch: 100%;
        -webkit-font-smoothing: antialiased;
    }
    #searchcontainer{
        max-width: 600px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    input{
        cursor: text;
        font-size: 14px;
        font-family: $OpenSans;
        border: solid;
        border-width: 1px;
        padding: 0px 10px;    
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #magnifier{
        padding: 10px;
        border: solid;
        border-width: 1px;
        background-color: $Primarycolor;
        border-color: #636363;
        align-items: center;
        color: $Whitefont;
        justify-content: center;
        font-size: 16px;
        line-height: 21px;
        width: 40px;
        height: 40px;
        text-size-adjust: 100%;
        cursor: pointer;
        display: flex;
        font-family: $OpenSans;
        font-weight: 400;
    }
        #searchbox{
            max-width: 490px;
            margin: 0;
            padding: 0;
        }
}
#navbarbox2{
    width: 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    a{
        float: left;
        padding: 12px 18px;
        font-family: $OpenSans;
        font-size: 14px;
        line-height: 20px;
        color: $Blackfont;
        text-decoration: none;
    }    
    #Login{
        color: $Primarycolor;
    }
    a:hover{
        text-decoration: underline;
        color: $Primarycolor;
    }
    #Joinbutton{
        background-color: $Primarycolor;
        font-family: $OpenSans;
        font-size: 14px;
        height: 36px;
        line-height: 4px;
        color: $Whitefont;
        padding: 15px;
        text-decoration-style: solid;
        width: auto;
        border: none;
        border-radius: 2px;
        font-weight: bold; 
        letter-spacing: -0.1px;
        transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;
    }
    #Joinbutton:hover{
        background: $Primaryhoovercolor;letter-spacing: normal;
    }
  
}
#banner1{
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0%;
    #banner1box1{
        margin-left: 100px;
        margin-right: 180px;
        padding-top: 40px;
        padding-bottom: 55px;
        padding-left: 0;
        padding-right: 0;
        max-width: 496px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        h1{
            font-family: $OpenSans;
            font-size: 84px;
            line-height: 92px;
            letter-spacing: -0.2px;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
        p{
            max-width: 100%;
            font-family: $OpenSans;
            line-height: 28px;
            font-size: 20px;
            letter-spacing: -0.1px;
            margin-bottom: 25px;
            margin-top: 24px;
            text-size-adjust: 100%;
        }
        #Joinforfreebutton{
            background-color: $Primarycolor;
            font-family: $OpenSans;
            font-size: 20px;
            line-height: 28px;
            color: $Whitefont;
            padding: 12px 32px;
            height: 72px;
            text-align: center;
            text-decoration-style: solid;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            letter-spacing: -0.1px;
            width: 238px;
        }
        #Joinforfreebutton:hover{
            background-color: $Primaryhoovercolor;
        }
    }
    #banner1box2{
        box-sizing: border-box;
        padding: 0px;
        max-height: 497px;
        max-width: 459px;
        margin-bottom: 32px;
        margin-right: 24px;
        margin-top: 32px;
        margin-left: 0px;
        .bannerimmage1{
            height: 100%;
            width: 100%;
        }
    }
    
       
}



@media (min-width: 992px){
    #navbar-mobile{
        display: none;
    }
}
@media (max-width: 991px){
    #navbarbox1{
        display: none;
    }
    #navbarbox2{
        display: none;
    }
    #Coursera-navbar{
        height: 65px;
        background-color: white;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        padding: 0;
        border-bottom: 1px solid $navbarborder;
        justify-content: space-between;
    }
    #navbar-mobile{
        height: 65px;
    }
    #Courseralogomobile{
        width: 108px;
    }
    #banner1box1{
        padding: 36px 24px 0px 24px !important;
        margin: 0 auto !important;
        max-width: 436px !important;
        width: 100%;
        h1{
            font-size: 64px !important;
            line-height: 64px !important;
        }
        p{
            font-size: 20px;
        }
        #Joinforfreebutton{
            width: 100% !important;
            margin-bottom: 36px;
            height: 48px !important;
            font-size: 16px !important;
        }
    }
}
@media (max-width: 767px){
    #banner1box1{
        padding: 36px 24px 0px 24px !important;
        margin: 0 auto !important;
        max-width: 436px !important;
        width: 100%;
        h1{
            font-size: 64px !important;
            line-height: 64px !important;
        }
        p{
            font-size: 20px;
        }
        #Joinforfreebutton{
            width: 100% !important;
            margin-bottom: 36px;
        }
    }
    #banner1box2{
        display: none;
    }
}
@media (max-width: 480px){
    #banner1box1{
        padding: 36px 24px 0px 24px !important;
        margin: 0 auto !important;
        max-width: 436px !important;
        width: 100%;
        text-align: center;
        h1{
            font-size: 48px !important;
            line-height: 52px !important;
        }
        #Joinforfreebutton{
            width: 100%;
            margin-bottom: 36px;
        }
    }
    #banner1box2{
        display: none;
    }
}