*{
    margin: 0;
    padding: 0;
}

/* Utils */
.container{
    max-width: 100%;
    margin: 0 auto;   
}
.navbar{
    box-sizing: border-box;
    border-bottom: solid;
    border-width: 1px;
    height: 65px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    display: block;
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 21px;
    text-size-adjust: 100%;
    margin: 0 auto;
}
.navbarcoursera{
    align-items: center;
    background-color: white;
    height: 64px;
    display: flex;
    padding: 0px 12px;
    max-width: 100%;
    justify-content: space-between;
}
.navbar1{
    padding: 0px 12px;
    height: 40px;
    display: flex;
}
.courseralogo{
    margin-right: 25px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 32px;
    width: 127px;
}
.Explorebutton{
    height: 36px;
    min-width: 92px;
    background-color: rgb(0, 86, 210);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    align-items: center;
    margin-right: 22px;
    border: none;
}
.Explorearrow{
    color: rgb(255, 255, 255);
    height: 9px;
    margin-left: 6px;
}
.Explorebutton:hover{
    background-color: white;
    color: rgb(0, 86, 210);
    border: none;
    margin-left: 22px;
}
.searchbarcontainer{
    text-size-adjust: 100%;
    display: flex;
    margin: 0 auto;
}
.searchbar1{
    cursor: text;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 400px;
    border: solid;
    border-width: 1px;
    padding: 0px 10px;    
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-sizing: border-box;
  
}
.searchbutton{
    box-sizing: border-box;
    padding: 10px;
    border: solid;
    border-width: 1px;
    background-color: rgb(0, 86, 210);
    border-color: #636363;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 16px;
    line-height: 21px;
    width: 40px;
    height: 40px;
    text-size-adjust: 100%;
    cursor: pointer;
    display: flex;
    font-family: sans-serif;
    font-weight: 400;
}
.navbar2{
    padding: 0px 12px;
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
    box-pack: end;
}
.navbar2items{
    display: inline;
    list-style-type: none;
}
.navbar2items li{
    float: left;
    padding: 12px 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}
.login{
    color: rgb(0, 78, 182);
}
.Joinforfreebutton{
    background-color: rgb(0, 86, 210);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 4px;
    color: white;
    padding: 15px;
    text-decoration-style: solid;
    width: auto;
    border: none;
    border-radius: 2px;
    font-weight: bold;letter-spacing: -0.1pxc;
}
.Joinforfreebutton:hover{
    background-color: rgb(0, 65, 158);
}
.banner1box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannertextbox1 {
    margin: 0px 180px 0px 100px;
    width: 496px;
    padding: 40px 0px 55px;
    position: relative;
}
.titulobanner1 {
   
    font-size: 84px;
    line-height: 92px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
}
.textobanner1 {
    line-height: 28px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    margin-top: 24px;
}
.bottonbanner1{
    background: #0056D2;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    padding: 12px 32px;
    text-align: center;
    transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;
    text-decoration: none;
    color: #FFFFFF;
    width: 238px;
    height: 72px;
    letter-spacing: -0.1px;
}
.bottonbanner1:hover{
    background: rgb(0, 65, 158);
}
.banner1box2 {
    height: 497px;
    width: 459px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-top: 32px;
}
._bannerimage1{
    max-width: 328px;
    max-height: 354;
    width: 100%;
}
.partnersbanner{ 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color:#F5F5F5;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 100%;
    width: 100%;
}
.partnersbannertitle{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.leadinguniversities{
    color: #0056D2;
}
.leadinguniversities:hover{
    color: #0056D2;
    text-decoration: underline;
}
.partnerslogos{
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 1132px;
    width: 100%;
    padding: 0px 10px;
    padding: 0px 10px;
    margin: 0px auto;
}
.Goalsbanner{
    display: grid;
    margin: 0px auto;
    padding-bottom: 64px;
    text-align: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    grid-template-columns: repeat(4, 240px);
    justify-content: center;

}
.Goalstitle{
    text-align: center;
    padding-top: 64px;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    margin-bottom: 65px;
}
.Goalsbanner h3{
    margin: 16px 0px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
    text-size-adjust: 100%;
    line-height: 28px;
    letter-spacing: -0.1px;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.Goalsbanner p{
    margin-bottom: 16px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.1px;
    font-weight: normal;
    display: flex;
}
.Goalsbanner div{
    margin-right: 50px;
}