*{
    margin: 0;
    padding: 0;
}

.rc-coursera-logo{
    width: 108px;
    vertical-align: middle;
    border: 0;
    height: 16px;
    padding: 25px;
    margin-left: 0;       
}

.DynamicPageHeader{
    height: 65px;
    background-color: #fff;
    z-index: 10;
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 15px;
}
/* Utils */
.container{
    max-width: 100%;
    margin: 0 auto;   
}

.banner1box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bannertextbox1 {
    margin: 0px 180px 0px 100px;
    width: 496px;
    padding: 40px 0px 55px;
    position: relative;
}
.titulobanner1 {
   
    font-size: 84px;
    line-height: 92px;
    font-family: Source Sans Pro, Arial, sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
}
.textobanner1 {
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    margin-top: 24px;
}
.bottonbanner1 {
    background: #0056D2;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    padding: 12px 32px;
    text-align: center;
    transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;
    text-decoration: none;
    color: #FFFFFF;
    width: 238px;
    height: 72px;
    letter-spacing: -0.1px;
}
.banner1box2 {
    height: 497px;
    width: 459px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-top: 32px;
}
._bannerimage1{
    max-width: 328px;
    max-height: 354;
    width: 100%;
}
.partnersbanner{ 
    font-family: Source Sans Pro, Arial, sans-serif;
    text-align: center;
    background-color:#F5F5F5;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 100%;
    width: 100%;
}
.partnersbannertitle{
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.leadinguniversities{
    color: #0062e4;
}
.partnerslogos{
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 1132px;
    width: 100%;
    padding: 0px 10px;
    padding: 0px 10px;
    margin: 0px auto;
}